html, body{
    margin: 0;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#container{
    z-index: 1;
    display: flex;
    flex-direction: column;    align-items: center;
    justify-content: center;
}

#content{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
}

#content:before{
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -25%;
    top: -25%;
    animation: spin 1.5s infinite linear;
}

#fav-list{
    list-style: none;
    padding-left: 0;
    text-align: center;
}

@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}

#content:after{
    content: "";
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
}

#instant-color {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#instant-color:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#instant-color:active {
	position:relative;
	top:1px;
}